<h1>Listing terms</h1>

<table>
  <tr>
    <th>Original</th>
    <th>Translated</th>
    <th>Context</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @terms.each do |term| %>
  <tr>
    <td><%= term.original %></td>
    <td><%= term.translated %></td>
    <td><%= RDiscount.new(term.context).to_html.html_safe %></td>
    <!--<td><%= link_to 'Show', term %></td>-->
    <td><%= link_to 'Edit', edit_term_path(term) %></td>
    <td><%= link_to 'Destroy', term, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Term', new_term_path %>
